.info{
  display: flex;
  justify-content: center;
  color: var(--light-color);
  background-color: #001414;

  &::before,
  &::after{
    content: "";
    display: block;
    flex-grow: 1;
    min-width: 200px;
;
  }

  &::before{
    background-image: url("../img/lines.png");
    background-position: 99%;
    background-size: 640px;
    background-repeat: no-repeat
  }

  &::after{
    background-image: url("../img/lines-2.png");
    background-position: 1%;
    background-size: 540px;
    background-repeat: no-repeat;
  }


  &__text{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    padding: 0 82px;
    height: 680px;
    max-width: 706px;
  }

  &__content{
    border-right: 1px solid #003331;
    border-left: 1px solid #003331;
  }

  &__title{
    margin: 0;
    margin-bottom: 21px;
    font-size: 22px;
    line-height: 100%;
  }

  &__descr{
    margin: 0;
    font-size: 15px;
    line-height: 160%;
  }

  @media(width <= 1000px){
      flex-direction: column;

    &::before,
    &::after{
      height: 200px;
      background-position:50% 0;
      background-size: cover;
    }

    &::before{
      background-image: url("../img/lines-v.png");
      background-position: 50% 100%;
      background-size: 600px;
    }

    &::after{
      background-image: url("../img/lines-2-v.png");
      background-position: 50% 0%;
      background-size: 200px;
    }

    &__text{
      padding: 80px 30px;
      height: auto;
      max-width: 650px;
    }

    &__content{
      border-top: 1px solid #003331;
      border-right: none;
      border-bottom: 1px solid #003331;
      border-left: none;
    }
  }

  @media(width <= 1000px){
    &__text{
      padding: 40px 30px;
    }
  }
}


