.location{
  padding-top: 145px;
  padding-bottom: 135px;
  background-color: #001F1F;

  &__content{
    display: flex;
    flex-direction: column;
    grid-column: 4 span;
  }

  &__title{
    margin: 0;
    margin-bottom: 43px;
    font-family: var(--secondary-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color: #fafafa;
  }

  &__descr{
    margin: 0;
    margin-bottom: 47px;
    max-width: 320px;
    font-size: 18px;
    line-height: 156%;
    color: #fafafa;
  }

  &__btn{
    margin: 0;
    margin-right: auto;
    border-color : #00665f;
    max-width: 140px;
    background-color:#00665f;
  }

  &__map{
    grid-column: 7 / 5 span;
  }

  @media (width <= 1000px) {
    padding-top: 80px;
    padding-bottom: 80px;

    &__map{
      justify-self: center;
      order: -1;
      grid-column: 6 span;
    }

    &__content{
      grid-column: 6 span;
    }

    &__title{
      margin-bottom: 20px;
      font-size: 27px;
    }

    &__descr{
      max-width: 100%;
      font-size: 14px;
      line-height: 150%;
    }
  }
}
