<section class="approach">
  <div class="approach__container container grid">
    <div class="approach__content">
      <h1 class="approach__title">A human–centered definition of success.</h1>
      <p class="approach__descr">Our approach is shaped by the perspective and experience of people impacted by the justice system. Together, we are focused on restoring equity and supporting success in the community.</p>
      <a href="" class="btn approach__btn btn--light">Our approach</a>
    </div>
    <div class="approach__gallery flex">
      <img class="approach__image" src="img/peoples-2.jpeg" alt="Happy peoples">
      <img class="approach__image" src="img/peoples.jpeg" alt="Happy peoples">
    </div>
  </div>
</section>
