<section class="approach">
  <div class="approach__top container grid">
    <div class="approach__content">
      <h1 class="approach__title">A human–centered definition of success.</h1>
      <p class="approach__descr">Our approach is shaped by the perspective and experience of people impacted by the justice system. Together, we are focused on restoring equity and supporting success in the community.</p>
      <a href="" class="btn approach__btn btn--light">Our approach</a>
    </div>
    <div class="approach__gallery flex">
      <img class="approach__image" src="img/peoples-2.jpg" alt="Happy peoples">
      <img class="approach__image" src="img/peoples.jpg" alt="Happy peoples">
    </div>
  </div>
  <div class="container approach__bottom-container">
    <div class="approach__bottom">
      <ul class="approach__list list-reset grid">
        <li class="approach__item">
          <a href="*" class="approach__link approach__link--ted">TED Talks</a>
        </li>
        <li class="approach__item">
          <a href="*" class="approach__link approach__link--nyt">The New York Times</a>
        </li>
        <li class="approach__item">
          <a href="*" class="approach__link approach__link--scoop">StateScoop</a>
        </li>
        <li class="approach__item">
          <a href="*" class="approach__link approach__link--ap">Associated Press</a>
        </li>
        <li class="approach__item">
          <a href="*" class="approach__link approach__link--time">Time</a>
        </li>
        <li class="approach__item">
          <a href="*" class="approach__link approach__link--freethink">Freethink</a>
        </li>
      </ul>
    </div>
  </div>
</section>
