<section class="partners">
  <div class="container partners__container flex">
    <h1 class="partners__title">Partners</h1>
    <ul class="partners__list list-reset">
      <li class="partners__item">
        <a href="#" class="partners__link partners__link--reform"></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link partners__link--schmidt"></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link partners__link--roc"></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link partners__link--mozilla"></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link partners__link--aclu"></a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link partners__link--y"></a>
      </li>
    </ul>
    <a href="" class="partners__more">See all</a>
  </div>



</section>
