<section class="platforms">
  <div class="container platforms__container">
      <ul class=" platforms__list list-reset grid">
        <li class=" platforms__item">
          <a href="*" class=" platforms__link  platforms__link--ted">TED Talks</a>
        </li>
        <li class=" platforms__item">
          <a href="*" class=" platforms__link  platforms__link--nyt">The New York Times</a>
        </li>
        <li class=" platforms__item">
          <a href="*" class=" platforms__link  platforms__link--scoop">StateScoop</a>
        </li>
        <li class=" platforms__item">
          <a href="*" class=" platforms__link  platforms__link--ap">Associated Press</a>
        </li>
        <li class=" platforms__item">
          <a href="*" class=" platforms__link  platforms__link--time">Time</a>
        </li>
        <li class=" platforms__item">
          <a href="*" class=" platforms__link  platforms__link--freethink">Freethink</a>
        </li>
      </ul>
  </div>
</section>
