<section class="press">
  <div class="container press__container flex">
    <h1 class="press__title">
      Recidiviz in the Press
    </h1>
    <a class="btn btn--light press__btn">See All</a>
    <ul class="press__list list-reset grid">
      <li class="press__item">
        <h3 class="press__name press__name--ted">TED Talks</h3>
        <span class="press__date">2.22.22</span>
        <p class="press__descr">Meet the 2022 class of TED Fellows</p>
      </li>
      <li class="press__item">
        <h3 class="press__name press__name--cnews">Correctional News</h3>
        <span class="press__date">2.2.22</span>
        <p class="press__descr">New Partnership Aims to Help Transform Prison Conditions</p>
      </li>
      <li class="press__item">
        <h3 class="press__name press__name--doj">Department of Justice</h3>
        <span class="press__date">1.26.22</span>
        <p class="press__descr">Justice Department Establishes Initiative to Strengthen States’ Use of Criminal Justice Data</p>
      </li>
      <li class="press__item">
        <h3 class="press__name press__name--nyt">The New York Times</h3>
        <span class="press__date">12.27.21</span>
        <p class="press__descr">The 2021 Good Tech Awards</p>
      </li>
      <li class="press__item">
        <h3 class="press__name press__name--corr1">Corrections1</h3>
        <span class="press__date">11.18.21</span>
        <p class="press__descr">Maine DOC to better harness correctional data to improve outcomes</p>
      </li>
      <li class="press__item">
        <h3 class="press__name press__name--roc">Right on Crime</h3>
        <span class="press__date">9.9.21</span>
        <p class="press__descr">Together, We Can Make Mississippi Safer and Reentry-Ready</p>
      </li>
    </ul>

  </div>
</section>
